* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url('styles/pexels-pixabay-206359.jpg');
    background-position: center;
}

.div1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;
    padding-top: 90px;
    background-color: transparent;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    backdrop-filter: blur(20px);
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 10px;
}

.div3 {
    justify-content: space-between;
    display: flex;
}

.para1 {
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    color: white;
    margin-top: 0;
    margin-bottom: 30px;
}

input::placeholder {
    color: #fff;
    font-family: Arial;
}

.inp1 {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 23px;
    border-style: solid;
    background: transparent;
    color: #fff;
    border-color: rgb(255, 255, 255);
    border-width: 0.1px;
    font-family: Arial;
    margin-bottom: 30px;
    outline: none;
}

.inp2 {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 23px;
    border-style: solid;
    background: transparent;
    color: #fff;
    border-color: rgb(255, 255, 255);
    border-width: 0.1px;
    font-family: Arial;
    align-items: center;
    margin-bottom: 30px;
    outline: none;
}

.button1 {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 23px;
    border-color: grey;
    border-style: solid;
    border-width: 1.5px;
    font-weight: bold;
    font-family: Arial;
    border: none;
}

.button1:hover {
    opacity: 0.8;
}

.button1:active {
    opacity: 0.5;
}

.Remember {
    color: white;
    font-family: Arial;
    margin-bottom: 30px;
}

.af {
    color: blue;
    text-decoration: none;
    font-family: Arial;
}

.af:hover {
    text-decoration: underline;
}

.af:active {
    opacity: 0.8;
}